<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="username" value="dynamicadmin" />
    <add key="password" value="Password101$" />
    <add key="maxPageSize" value="100" />
    <add key="apikey" value="QYh6Y21U9KqE6shWegb"/>
    <add key="ContactLastSyncDate" value="2020-01-01T00:00:00Z"/>
    <add key="AccountLastSyncDate" value="2020-01-01"/>
    <add key="TicketLastSyncDate" value="2020-01-01T00:00:00Z"/>
    <add key="AgentLastSyncDate" value="2020-01-01T00:00:00Z"/>
    <add key="crmUrl" 
         value="https://interswitch.interswitchng.com/XRMServices/2011/Organization.svc"/>
  </appSettings>
</configuration>